<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
 
    <title>Calculator</title>

</head>



<body>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr><th><label for="id_name">Name:</label></th><td><input type="text" value="{{namefrompython}}" name="name" required id="id_name" /></td></tr>
            <tr><th><label for="id_age">Age:</label></th><td><input type="number" name="age" required id="id_age" /></td></tr>
        </table>
        <input type="submit" value="Send">
        <br></br>
        <label for="id_name">{{namefrompython}}</label>
    </form>

</body>
</html>